<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /eshwar-construction/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /eshwar-construction/index.html [L]
</IfModule>
